.mediaPlayer {
  position: relative;
  width: 100%;
  max-width: 825px;
  max-height: 550px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: black;

  -webkit-box-shadow: 6px 13px 20px 6px rgba(214, 214, 214, 0.11);
  -moz-box-shadow: 6px 13px 20px 6px rgba(214, 214, 214, 0.11);
  box-shadow: 6px 13px 20px 6px rgba(214, 214, 214, 0.11);
}

.mediaPlayer__player {
  width: 100%;
  margin: 80px 0;
}

.mediaPlayer__lowerOverlay {
  position: absolute;
  top: 100%;
  margin-top: 0;
  display: block;
  width: 100%;
  padding: 1%;
  transition: margin-top 1s;
  z-index: 100;
}

.mediaPlayer:hover .mediaPlayer__lowerOverlay {
  margin-top: -65px;
}