.about {
  margin: auto;
  background: var(--backgroundColor);
}

.about__icon {
  position: absolute;
  margin-left: -50px;
  font-size: 6rem;
  font-family: "Times New Roman";
  transform: rotate(-180deg);
}

.about__content {
  font-size: 1.4rem;
  text-align: left;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
}

.about__content p {
  font-style: italic;
  text-transform: none;
}

.about__picture {
  padding-left: 20px;
}

.about__picture > img {
  width: 450px;
  /* border: 5px solid gray; */
}

@media only screen and (max-width: 1200px) {
  .about__icon {
    display: none;
  }
  .about__content p {
    font-size: 1.2rem;
  }
  .about__picture > img {
    width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .about__content {
    flex-wrap: wrap;
  }
  .about__picture {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  .about__picture > img {
    width: 100%;
  }
}