.about {
  margin: auto;
  background: black;
}

.about__icon {
  position: absolute;
  margin-left: -50px;
  font-size: 6rem;
  font-family: "Times New Roman";
  transform: rotate(-180deg);
}

.about__content {
  font-size: 1.4rem;
  text-align: left;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
}

.about__content p {
  font-style: italic;
  text-transform: none;
}

.about__picture {
  padding-left: 20px;
}

.about__picture > img {
  width: 300px;
  border: 5px solid gray;
  /* -webkit-box-shadow: 7px 9px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 9px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 9px 14px 0px rgba(0,0,0,0.75); */
}

@media only screen and (max-width: 900px) {
  .about__icon {
    display: none;
  }
  .about__content p {
    font-size: 1rem;
  }
  .about__picture > img {
    width: 150px;
  }
}
@media only screen and (max-width: 500px) {
  .about__content {
    flex-wrap: wrap;
  }
  .about__picture {
    width: 100%;
    text-align: center;
  }
}